<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Join Rising Empire</title>
		
		<link rel="stylesheet" href="/css/kendo.common.min.css" />
		<link rel="stylesheet" href="/css/kendo.moonlight.min.css" />
		<script src="/js/jquery-2.1.4.js"></script>
		<script src="/js/kendo.ui.core.min.js"></script>
		
		<script src="/js/risingempire.js"></script>
		
		<style>
			html {
				font: 14.4px Arial, Helvetica, sans-serif;
			}
		</style>
	</head>
	<body class="k-content">
		<p th:if="${param.logout}">You have been logged out.</p>
		<p th:if="${param.error}">There was an error, please try again.</p>

		<div id="joinWindow"></div>

		<form style="display: none;" name="loginForm" th:action="@{/login}" action="/login" method="POST">
			<input type="text" name="username" value=""/>
			<input type="password" name="password" th:attr="value=${defaultPassword}"/>
		</form>
		
		<script>
			Join.init();
		</script>
		
		<!--
		<script src="/js/typescriptServices.js"></script>
		<script src="/js/transpiler.js"></script>		
		-->
	</body>
</html>