<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "Check Configuration 1.3" "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
	<module name="TreeWalker">
		<module name="InnerTypeLast"/>
		<module name="OneTopLevelClass"/>
		<module name="DeclarationOrder"/>
		<module name="io.spring.javaformat.checkstyle.check.SpringMethodOrderCheck"/>
		<module name="EqualsHashCode"/>

		<module name="RedundantImport"/>
		<module name="UnusedImports"/>
		<module name="AvoidStarImport"/>
		<!-- Excludes mainly test libraries: https://github.com/spring-io/spring-javaformat/blob/main/spring-javaformat/spring-javaformat-checkstyle/src/main/java/io/spring/javaformat/checkstyle/check/SpringAvoidStaticImportCheck.java -->
		<module name="io.spring.javaformat.checkstyle.check.SpringAvoidStaticImportCheck">
			<property name="id" value="SpringAvoidStaticImportTest"/>			
			<property name="excludes" value="java.nio.charset.StandardCharsets.*,java.util.Objects.requireNonNull,java.util.Collections.unmodifiableCollection,java.util.Collections.unmodifiableList,java.util.Collections.unmodifiableMap,java.util.Collections.unmodifiableSet,com.scheible.risingempire.util.jdk.Objects2.toStringBuilder,org.springframework.http.MediaType.*,org.springframework.http.HttpStatus.*" />
		</module>
		
		<module name="ModifierOrder"/>
		<module name="RedundantModifier"/>

		<module name="PackageDeclaration"/>
		<module name="PackageName">
			<property name="id" value="PackageNameProduction"/>
			<property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
		</module>
		<module name="PackageName">
			<property name="id" value="PackageNameTest"/>
			<property name="format" value="^[a-z]+(\._?[a-z][a-z0-9]*)*$"/>
		</module>

		<module name="com.puppycrawl.tools.checkstyle.checks.coding.RequireThisCheck">
			<property name="checkMethods" value="false"/>
			<property name="validateOnlyOverlapping" value="false"/>
		</module>

		<module name="AvoidDoubleBraceInitialization"/>
		<module name="io.spring.javaformat.checkstyle.check.SpringMethodVisibilityCheck"/>
		<module name="DefaultComesLast"/>
		<module name="EqualsAvoidNull"/>
		<module name="StringLiteralEquality"/>
		<module name="MissingDeprecated"/>
		<module name="MissingOverride"/>
		<module name="MissingSwitchDefault"/>
		<module name="MultipleVariableDeclarations"/>
		<module name="MutableException"/>
		<module name="NeedBraces"/>
		<module name="OneStatementPerLine"/>
		<module name="UpperEll"/>
		
		<module name="SuppressWarningsHolder"/>
	</module>
	<module name="SuppressWarningsFilter"/>
</module>